/* selects all and applies following attributes. Selector Specifity (ss) = 0 */
* {
    /* attribute: value */
    box-sizing: border-box;
    /* when only one value provided applies four sides the same value */
    padding: 0;
    margin: 0;
}

/* element selection ss= 1, apply style to body */
body {
    background-color: #d9dcd6;
}

/* apply styles to all inside <header> element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* nested selector, targets h1 element in header element only */
header h1 {
    /* inline-block makes container elements side by side view*/
    display: inline-block;
    font-size: 48px;
}
/* apply style to class seo part of the h1 nested in header element*/
header h1 .seo {
    color: #d9dcd6;
}
/* div changed to nav to satisfy semantic HTML element flow */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* apply style to unordered list nested inside <nav>, <nav> element nested inside header element */
header nav ul {
    list-style-type: none;
}
/* apply style to list elements inside unordered list, nested inside <nav>, <nav> element nested inside header element */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* apply style to all anchor elements*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* apply style to all paragraph elements*/
p {
    font-size: 16px;
}
/* apply style to hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* all float-left class elements left aligned */
.float-left {
    float: left;
    margin-right: 25px;
}
/* all float-right class elements right aligned */
.float-right {
    float: right;
    margin-left: 25px;
}
/* selects all content class and assigns following attributes */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* apply style to all benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* to prevent code repetition multiple class selectors put together */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* to prevent code repetition multiple selectors put together */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* to prevent code repetition multiple image selectors put together */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* section common attributes grouped together */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image heights in sections grouped together */
.services img {
    max-height: 200px;
}

/* h2 elements in following class selectors grouped together*/
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* class footer changed to element footer selector*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* class footer changed to element footer selector*/
footer h2 {
    font-size: 20px;
}
